h1{
    font-size:16pt !important;
}
h2.ictext{
    color: white;
    font-size:15pt;
    font-weight: bold;
    margin-top:30px;
}
body {
    background-image: url("foto-web/wallpaper.webp");
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: repeat-y;
    background-position: 0px 0px;
    width: 100%;
}
#logo{
    width:50%;
    margin: 100px auto 0px auto;
    display:block;
}
#discovermore {
    display:block;
    text-align: center;
    margin: 200px auto 0px auto;
    width: 150px;
    height: 40px;
    color: white;
    background-color: #712fc7;
    opacity: 0.9;
    border: white;
    font-family: "Bebas Neue";
}
#discovermore:hover {
    outline: 2px solid #2a1648;
}
.lingue-bandiere {
    float: left;
    width: 50px;
    height: 30px;
    margin-left: 10px;
    margin-right: 20px;
    margin-top: 15px;
    border-radius: 2px;
}
.lingue-bandiere:hover {
    outline: 2px solid white;
}
#intestazione {
    position: absolute;
    top: 0px;
    margin: 0px;
    left: 0px;
    min-height: 62px;
    background-color: black;
    background-size: 1200px;
    width: 100%;
    color: white;
    border-bottom: 1px solid blue;
    margin-bottom: 20px;
    text-align: center;
    z-index:1;
}
#flags{
    position:absolute;
    top:0px;
    left:0px;
}
#acme {
    letter-spacing: 1px;
    font-family: "Bebas Neue";
    text-align: center;
    margin: 10px auto 0px auto;
}
#bottontop {
    border: 2px solid white;
    position: fixed;
    bottom:0px;
    right: 40px;
    width: 40px;
    border-radius: 100px;
    color: white;
    text-align: center;
    font-family: "Bebas Neue";
    font-size:14pt;
    cursor: pointer;
}
#bottondown{
    border: 2px solid white;
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 40px;
    border-radius: 100px;
    color: white;
    text-align: center;
    font-family: "Bebas Neue";
    font-size:14pt;
    cursor: pointer;  
}
#boxopenday1 {
    max-width: 600px;
    margin: auto;
    background-color: #c166fb;
    border-radius: 15px;
    margin-top: 30px;
}
.openday {
    font-family: "Helvetica";
    font-size: 16pt;
    color: white;
    height: 10px;
    text-align: center;
}
.infopen {
    text-align: center;
    font-family: "Helvetica";
    color: white;
}
.boxopenday2 {
    max-width: 600px;
    margin: auto;
    background-color: #8a00b5;
    color: white;
    border-radius: 15px;
    margin-top: 10px;
}
#box3 {
    border: 3px solid magenta;
    max-width: 100%;
    height: 300px;
    margin: auto;
    margin-top: 20px;
    background-color: #2a1648;
    opacity: 0.7;
}
.col-sm-4{
    text-align: center;
    margin: auto;
}
.icona {
    font-size: 50pt;
    color: white;
    margin-top:20px;
}
.ictext {
    width: 200px;
    text-align:center;
    margin:0px auto 0px auto;
    font-family: "Bebas Neue";
    color: white;
    font-size: 14pt;
}
#boxconvideo {
    max-width: 850px;
    height: 300px;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
    background-color: #8a00b5;
    color: white;
}
#video {
    width: 450px;
    height: 300px;
    float: right;
    margin: 0px 0px 0px 0px;
    border-radius: 10px;
}
h3 {
    letter-spacing: 3px;
    font-family: Helvetica;
    margin: 0px 0px 0px 20px;
    font-size: 10pt;
}
.rettangolino {
    width: 5px;
    height: 40px;
    background-color: #daa520;
    margin: 80px 0px 0px 20px;
}
h4 {
    font-family: Helvetica;
    font-size: 24pt;
    width:350px;
    margin-left: 20px;
    margin-top: -30px;
}
.infotext {
    font-family: Helvetica;
    margin: 20px 0px 0px 0px;
    width: 450px;
}
#boxconcitazione {
    max-width: 850px;
    height: 292px;
    margin: 30px auto 0px auto;
    background-color: #2a1648;
    color: white;
    opacity:0.7;
    border-radius: 10px;
    border: 2px solid magenta;
}
#virgolette {
    color: white;
    font-size: 24pt;
    margin: auto;
    margin-left: 410px;
    margin-top: 0px;
}
.carousel-item button {
    margin: 28px auto 0px auto !important;
    display: block !important;
}
.btn-outline-primary {
  color: #c166fb;
  border-color: #c166fb;
}

#rettangolo4 {
    max-width: 850px;
    height: 292px;
    margin: 30px auto 0px auto;
    background-color: #712fc7;
    color: white;
    border-radius: 10px;
}
#palette {
    color: white;
    font-size: 100pt;
    float: right;
    margin-top: 40px;
    margin-right: 80px;
}
#palette2 {
    color: white;
    font-size: 70pt;
    float: right;
    margin-top: -50px;
    margin-right: 15px;
}
#cerchio4 {
    width: 250px;
    height: 250px;
    border-radius: 100%;
    margin: 10px 80px 0px 0px;
    float: right;
    border: 3px solid white;
}
#indirizzo1 {
    min-height: 380px;
    background-color: #8a00b5;
    margin-top: 20px;
    opacity: 0.8;
}
.dipartimento{
    max-width:80%;
    font-size: 24pt;
    color: white;
    width: 660px;
    font-family: Helvetica;
    display:inline-block;
    margin-left:5px;
}
.rettangolino3 {
    width: 5px;
    height: 40px;
    background-color: #daa520;
    margin: 0px 0px 0px 20px;
    display:inline-block;
}
#pittura {
    font-size: 24pt;
    color: #daa520;
    font-family: "Bebas Neue";
    cursor: pointer;
}
#pittura:hover{
    color: white;
}
.scuole {
    margin: auto;
    font-size: 18pt;
    width: 576px;
    color: white;
    text-align: center;
    font-family: "Bebas Neue";
}
.indirizzo-content,.indirizzo-content p{
    margin:auto;
    text-align: center;
}
#grafica {
    font-size: 24pt;
    max-width: 400px;
    color: #00b3ff;
    text-align: center;
    font-family: "Bebas Neue";
    cursor: pointer;
}
#grafica:hover{
    color: white;
}
#indirizzo2 {
    width: 100%;
    height: 600px;
    background-color: #8a00b5;
    margin: auto;
    margin-top: 20px;
    opacity: 0.8;
}

#scenografia {
    font-size: 24pt;
    color: #00b378;
    font-family: "Bebas Neue";
    cursor: pointer;
}
#scenografia:hover{
    color: white;
}
#progettazione {
    margin-top:30px;
    font-size: 24pt;
    color: #eb0000;
    font-family: "Bebas Neue";
    cursor: pointer;
}
#progettazione:hover {
    color: white;
}
#tecnologie {
    margin-top:30px;
    font-size: 24pt;
    color: #fa8717;
    font-family: "Bebas Neue";
    cursor: pointer;
}
#tecnologie:hover {
    color: white;
}
#indirizzo3 {
    width: 100%;
    min-height: 200px;
    background-color: #8a00b5;
    margin: auto;
    margin-top: 20px;
    opacity: 0.8;
}

#comunicazione {
    margin-top:30px;
    font-size: 24pt;
    color: #befc12;
    font-family: "Bebas Neue";
    cursor: pointer;
}
#comunicazione:hover {
    color: white;
}
#boxdurata {
    max-width: 850px;
    min-height: 900px;
    margin: 10px 0px 0px 0px;
    margin: auto;
    background-color: #d9466f;
    opacity:0.9;
    color: white;
    border-radius: 30px;
}
.rettangolino4 {
    width: 5px;
    height: 90px;
    background-color: #daa520;
    margin: 10px 0px 0px 80px;
}
.duratatitoli {
    font-family: Helvetica;
    font-size: 24pt;
    margin: -40px 0px 0px 100px;
}
.spiegazione {
    font-family: "Helvetica";
    margin: 50px 0px 0px 20px;
    max-width: 750px;
    text-align: justify;
}
#boxborse {
    max-width: 850px;
    min-height: 350px;
    margin: 10px 0px 0px 0px;
    margin: auto;
    background-color: #fa6662;
    opacity:0.9;
    color: white;
    border-radius: 30px;
}
#map {
    width: 100%;
    height: 250px;
    margin-top: 20px;
}
#contact {
    width: 100%;
    height: 200px;
    background-color: #712cc5;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 0px;
}
#testofooter {
    text-align: center;
    color: white;
    margin-bottom: 0px;
    font-size: 9pt;
    margin-top: 20px;
}
.social {
    font-size: 24pt;
    color: white;
    margin: 10px 0px 0px 0px;
}
#cookie {
    position: fixed;
    bottom:0px;
    left:10px;
    font-size:30pt;
    color: #743202;
}
#cookieicon{
    border: 1px solid #743202;
    border-radius: 100px;
    cursor: pointer;
}
#cookietext {
    background-color: indigo;
    color: white;
    font-size:9pt;
    width:240px;
    border-radius: 5px;
    margin:-164px 0px 20px 60px;
    cursor: pointer;
    font-family:Helvetica;
}
.hidden {
    display:none;
}
@media screen and (min-width:1008px){
    #contact{
        bottom: 0px;
    }
}
@media screen and (max-width:1007px){
    #acme {
        margin:10px auto 0px 0px;
    }
    .col-sm-4{
        text-align:center;
    }
    .infotext{
        width:280px;
        margin-top:15px;
    }
    #boxconvideo{
        height:330px;
    }
    #video{
        height:330px;
    }
    .spiegazione{
        width:90%;
    }
    #contact{
        bottom:0px;
    }
}
@media only screen and (max-width:700px){
   #box3 {
        height: 850px;
    }
    .col-sm-4 {
        margin: auto;
        min-width:100%;
    }
  #boxconvideo{
        height:700px;
    }
    #video{
        width:100%;
    }
    h4{
        width: 290px;
    }
}
@media only screen and (max-width:576px){
    #flags{
        margin:0px auto 0px auto;
    }
    #acme {
        margin: 50px auto 0px auto;
    }
   #body{
        margin:50px auto 0px auto;
        background-size: 180%;
    } 
     #discovermore{
        margin:100px auto 0px auto;
    }
    .col-sm-4{
        margin: auto;
    }
    .icona{
        text-align: center;
        margin-top:50px;
    }
    .ictext{
        margin: 30px auto auto auto;
    }
    #box3 {
        height: 950px;
    }
    h4{
        width:279px;
    }
    .infotext{
        width:250px;
        margin-top: 30px;
    }
    #virgolette{
        margin:auto 0px auto 180px;
    }
    #rettangolo4{
        min-height:450px;
    }
    #palette{
        font-size:42pt;
        margin: 20px 50px 0px 100px;
    }
    #palette2{
        font-size:42pt;
        margin: -30px 20px 0px 0px;
    }
    #cerchio4{
       width: 130px; 
       height: 130px;
       margin: 20px 20px auto auto;
    }
    #indirizzo1 {
        height: 450px;
    }
    #pittura {
        margin:30px auto 0px auto;
    }
    #grafica {
        margin:1px auto 0px auto;
    }
    .scuole {
        width: 320px;
        margin:0px 0px auto 20px;
    }
    #indirizzo2 {
        height:850px;
    }
    #indirizzo3 {
        height:450px;
    }
    #rettangolino4{
        margin-left:40px;
    }
    #duratatitoli{
        margin-left:50px;
    }
    .spiegazione{
       width:90%;
    }
    #map{
        width:100%;
    }
    #bottondown{
        margin-right: 0px;
    }
    #bottontop{
        margin-right:0px;
    }
    #contact{
        bottom: 0px;
        height: 220px;
    }
}

