body {
  background-image: url("logo.jpg");
  background-size: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 100%;
 Height: 900px;
}
#bandiere {
  float: left;
  width: 50px;
  height: 30px;
  margin-left: 10px;
  margin-right: 20px;
  margin-top: 15px;
  border-radius: 2px;
}

#intestazione {
  position: fixed;
  top: 0px;
  margin: 0px;
  left: 0px;
  height: 62px;
  background-color: black;
  background-size: 1200px;
  opacity: 0.9;
  width: 100%;
  color: white;
  border-bottom: 1px solid blue;
  margin-bottom: 20px;
  text-align: center;
  float: center;
}
#bottoneinalto {
  float: right;
  width: 100px;
  height: 30px;
  margin: 15px 60px 0px 0px;
  border: 2px solid blue;
  background-color: black;
  color: blue;
  font-family: "Bebas Neue";
  font-size: 14pt;
}
#logo {
  font-family: "Water Brush";
  font-size: 200pt;
  text-align: center;
  attachment: fixed;
  color: white;
  float: center;
  height: 30px;
}
#discovermore {
  text-align: center;
  float: center;
  margin: 40px 0px 0px 630px;
  width: 150px;
  height: 40px;
  color: white;
  background-color: #00008b;
  opacity: 0.9;
  border: white;
  font-family: "Bebas Neue";
}
#acme {
  letter-spacing: 1px;
  font-family: "Bebas Neue";
  text-align: center;
  float: left;
  margin: 10px 0px 0px 370px;
}
#openday1 {
  max-width: 600px;
  height: 65px;
  margin: auto;
  background-color: #00008b;
  border-radius: 15px;
}
#icona2 {
  font-size: 45pt;
  margin-top: 18px;
  margin-right: 20px;
  margin-left: 20px;
  color: white;
}
#icona3 {
  font-size: 45pt;
  margin-top: 20px;
  margin-left: 23px;
  color: white;
}
#paragrafo1 {
  font-family: "Helvetica";
  font-size: 16pt;
  color: white;
  height: 10px;
  text-align: center;
}
#paragrafo2 {
  text-align: center;
  font-family: "Helvetica";
  color: white;
}
#openday2 {
  max-width: 600px;
  height: 65px;
  margin: auto;
  background-color: #daa520;
  color: white;
  border-radius: 15px;
}
#rettangolo1 {
  border: 3px solid #00008b;
  max-width: 850px;
  height: 300px;
  margin: auto;
  background-color: white;
  color: #00008b;
}
#cerchio1 {
  width: 100px;
  height: 100px;
  border: 3px solid #00008b;
  border-radius: 100%;
  margin: 40px 50px 30px 90px;
  background-color: #00008b;
}
#icona1 {
  font-size: 45pt;
  margin-left: 20px;
  margin-top: 20px;
  color: white;
}
#paragrafo4 {
  width: 200px;
  height: 100px;
  float: left;
  margin: auto;
  margin: 0px 0px 0px 50px;
  text-align: center;
  font-family: "Bebas Neue";
}
#cerchio2 {
  width: 100px;
  height: 100px;
  border: 1px solid #00008b;
  border-radius: 100%;
  margin: -130px 0px 0px 130px;
  float: left;
  background-color: #00008b;
}
#paragrafo5 {
  width: 200px;
  height: 100px;
  float: left;
  text-align: center;
  margin: 0px 10px 90px 90px;
  font-family: "Bebas Neue";
}
#cerchio3 {
  width: 100px;
  height: 100px;
  border: 1px solid #00008b;
  border-radius: 100%;
  margin: -130px 0px 0px 115px;
  float: left;
  background-color: #00008b;
}
#paragrafo6 {
  width: 200px;
  height: 100px;
  float: left;
  margin: 0px 0px 90px 70px;
  text-align: center;
  font-family: "Bebas Neue";
}
#rettangolo2 {
  max-width: 850px;
  height: 292px;
  margin: auto;
  background-color: #00008b;
  color: white;
}
#titolo1 {
  letter-spacing: 3px;
  font-family: Helvetica;
  margin: 0px 0px 0px 20px;
  font-size: 10pt;
}
#rettangolino {
  width: 5px;
  height: 30px;
  background-color: #daa520;
  margin: 90px 0px 0px 20px;
}
#titolo2 {
  font-family: Helvetica;
  font-size: 24pt;
  width: 400px;
  margin: 0px 0px 0px 20px;
}
#paragrafo8 {
  font-family: Helvetica;
  margin: 40px 0px 0px 0px;
  width: 450px;
}
#bottontop {
  border: 2px solid white;
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 40px;
  border-radius: 90px;
  color: white;
  text-align: center;
  font-family: "Bebas Neue";
}
#video {
  width: 450px;
  height: 290px;
  float: right;
  margin: -12px 0px 0px 0px;
}
#rettangolo3 {
  max-width: 850px;
  height: 292px;
  margin: 30px 0px 0px 270px;
  background-color: #00008b;
  color: white;
  opacity: 0.6;
}
#frase {
  float: center;
  text-align: center;
  margin-top: 80px;
  font-size: 20pt;
}
#virgolette {
  color: white;
  font-size: 24pt;
  float: center;
  margin: 10px 0px 0px 400px;
}
#rettangolo4 {
  max-width: 850px;
  height: 292px;
  margin: 0px 0px 0px 270px;
  background-color: #00008b;
  color: white;
}
#palette {
  color: white;
  font-size: 100pt;
  float: right;
  margin-top: 40px;
  margin-right: 80px;
}
#palette2 {
  color: white;
  font-size: 70pt;
  float: right;
  margin-top: -50px;
  margin-right: 15px;
}
#cerchio4 {
  width: 250px;
  height: 250px;
  border-radius: 100%;
  margin: 10px 80px 0px 0px;
  float: right;
  border: 3px solid white;
}
#dipartimento1 {
  width: 800px;
  height: 600px;
  margin: 169px 50px 0px 20px;
  background-color: white;
  border-radius: 15px;
  border: 1px solid #daa520;
}
#indirizzo1 {
  float: center;
  text-align: center;
  color: #daa520;
  margin-top: -85px;
  font-size: 14pt;
  font-family: "Bebas Neue";
}
#scuola {
  color: #00008b;
  float: center;
  text-align: center;
  font-size: 24pt;
  font-family: "Bebas Neue";
}
#cerchio5 {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin-left: 350px;
  float: center;
  background-color: #00008b;
}
h1 {
  color: #00008b;
  float: center;
  text-align: center;
  font-size: 28pt;
  font-family: "Bebas Neue";
  margin-top: -35px;
}
#elenco1 {
  color: #00008b;
  float: center;
  text-align: center;
  font-family: "Bebas Neue";
  font-size: 24pt;
}
#dipartimento2 {
  width: 800px;
  height: 1050px;
  margin: 10px 50px 0px 20px;
  background-color: white;
  border-radius: 15px;
  border: 1px solid #daa520;
}
#indirizzo2 {
  float: center;
  text-align: center;
  color: #daa520;
  margin-top: -93px;
  font-size: 12pt;
  font-family: "Bebas Neue";
}
#dipartimento3 {
  width: 800px;
  height: 350px;
  margin: 10px 50px 0px 20px;
  background-color: white;
  border-radius: 15px;
  border: 1px solid #daa520;
}
#indirizzo2 {
  float: center;
  text-align: center;
  color: #daa520;
  margin-top: -93px;
  font-size: 10pt;
  font-family: "Bebas Neue";
}
#rettangolo5 {
  width: 850px;
  height: 850px;
  margin: 10px 0px 0px 0px;
  background-color: #00008b;
  color: white;
}
#paragrafo9 {
  font-family: "Helvetica";
  margin: 50px 0px 0px 20px;
  width: 780px;
}
#paragrafo10 {
  font-family: "Helvetica";
  margin: 20px 0px 0px 0px;
  width: 800px;
}
