body {
    background-image: url("images/wallpaper.jpg");
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: repeat/y;
    background-position: 0px 0px;
    width: 100%;
}
#logo{
    width:400px;
    margin: 100px 0px 0px 600px;
}

#discovermore {
    text-align: center;
    margin: 200px 0px 0px 700px;
    width: 150px;
    height: 40px;
    color: white;
    background-color: #712fc7;
    opacity: 0.9;
    border: white;
    font-family: "Bebas Neue";
}
#discovermore:hover {
    outline: 2px solid #2a1648;
}
.lingue-bandiere {
    float: left;
    width: 50px;
    height: 30px;
    margin-left: 10px;
    margin-right: 20px;
    margin-top: 15px;
    border-radius: 2px;
}
.lingue-bandiere:hover {
    outline: 2px solid white;
}
#intestazione {
    position: fixed;
    top: 0px;
    margin: 0px;
    left: 0px;
    min-height: 62px;
    background-color: black;
    background-size: 1200px;
    width: 100%;
    color: white;
    border-bottom: 1px solid blue;
    margin-bottom: 20px;
    text-align: center;
     z-index:1;

}
#flags{
    position:absolute;
    top:0px;
    left:0px;
}
#acme {
    letter-spacing: 1px;
    font-family: "Bebas Neue";
    text-align: center;
    margin: 10px auto 0px auto;
}

#bottoneinalto {
    position:absolute;
    top:0px;
    right:0px;  
    text-align: center;
    float: right;
    width: 100px;
    height: 30px;
    margin: 15px 60px 0px 0px;
    border: 2px solid blue;
    color: blue;
    font-family: "Bebas Neue";
    font-size: 14pt;
}
#bottontop {
    border: 2px solid white;
    position: fixed;
    bottom: 10px;
    right: 50px;
    width: 40px;
    border-radius: 100px;
    color: white;
    text-align: center;
    font-family: "Bebas Neue";
    font-size:14pt;
    cursor: pointer;
}
#bottondown{
    border: 2px solid white;
     position: fixed;
     bottom: 10px;
     right: 10px;
    width: 40px;
    border-radius: 100px;
    color: white;
    text-align: center;
    font-family: "Bebas Neue";
    font-size:14pt;
     cursor: pointer;
     
}
#boxopenday1 {
    max-width: 600px;
    height: 65px;
    margin: auto;
    background-color: #c166fb;
    border-radius: 15px;
    margin-top: 30px;
}
.p1 {
    font-family: "Helvetica";
    font-size: 16pt;
    color: white;
    height: 10px;
    text-align: center;
}
.p2 {
    text-align: center;
    font-family: "Helvetica";
    color: white;
}
.boxopenday2 {
    max-width: 600px;
    height: 65px;
    margin: auto;
    background-color: #8a00b5;
    color: white;
    border-radius: 15px;
    margin-top: 10px;
}
#box3 {
    border: 3px solid magenta;
    max-width: 100%;
    height: 300px;
    margin: auto;
    margin-top: 20px;
    background-color: #2a1648;
    opacity: 0.7;
}
#icona1 {
    font-size: 50pt;
    margin:20px auto auto 300px;
    color: white;
}
#p3 {
    width: 200px;
    height: 100px;
    margin: 50px 0px 0px 220px;
    text-align: center;
    font-family: "Bebas Neue";
    color: white;
    font-size: 14pt;
}
#icona2 {
    font-size: 50pt;
    margin-top: 18px;
    margin-right: 0px;
    margin-left: 200px;
    color: white;
}
#icona3 {
    font-size: 45pt;
    margin-top: 20px;
    margin-left: 90px;
    color: white;
}
#p4 {
    width: 200px;
    height: 100px;
    margin-left: 130px;
    margin-top: 50px;
    text-align: center;
    font-family: "Bebas Neue";
    color: white;
    font-size: 14pt;
}
#p5 {
    width: 200px;
    height: 100px;
    margin-top: 50px;
    margin-left:10px;
    text-align: center;
    font-family: "Bebas Neue";
    color: white;
    font-size: 14pt;
}
#boxconvideo {
    max-width: 850px;
    height: 292px;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
    background-color: #8a00b5;
    color: white;
}
#video {
    width: 450px;
    height: 292px;
    float: right;
    margin: 0px 0px 0px 0px;
    border-radius: 10px;
}
#titolo1 {
    letter-spacing: 3px;
    font-family: Helvetica;
    margin: 0px 0px 0px 20px;
    font-size: 10pt;
}
#rettangolino {
    width: 5px;
    height: 40px;
    background-color: #daa520;
    margin: 80px 0px 0px 20px;
}
#titolo2 {
    font-family: Helvetica;
    font-size: 24pt;
    width: 400px;
    margin-left: 20px;
    margin-top: -30px;
}
#paragrafo8 {
    font-family: Helvetica;
    margin: 40px 0px 0px 0px;
    width: 450px;
}
#boxconcitazione {
    max-width: 850px;
    height: 292px;
    margin: 30px auto 0px auto;
    background-color: #2a1648;
    color: white;
    opacity:0.7;
    border-radius: 10px;
    border: 2px solid magenta;
}
#virgolette {
    color: white;
    font-size: 24pt;
    margin: auto;
    margin-left: 410px;
    margin-top: 0px;
}
.carousel-item button {
    margin: 28px auto 0px auto !important;
    display: block !important;
}
.btn-outline-primary {
  color: #c166fb;
  border-color: #c166fb;
}

#rettangolo4 {
    max-width: 850px;
    height: 292px;
    margin: 30px auto 0px auto;
    background-color: #712fc7;
    color: white;
    border-radius: 10px;
}
#palette {
    color: white;
    font-size: 100pt;
    float: right;
    margin-top: 40px;
    margin-right: 80px;
}
#palette2 {
    color: white;
    font-size: 70pt;
    float: right;
    margin-top: -50px;
    margin-right: 15px;
}
#cerchio4 {
    width: 250px;
    height: 250px;
    border-radius: 100%;
    margin: 10px 80px 0px 0px;
    float: right;
    border: 3px solid white;
}
#indirizzo1 {
    max-width: 1600px;
    height: 400px;
    background-color: #8a00b5;
    margin-top: 20px;
    opacity: 0.8;
}
#dipartimento {
    font-size: 24pt;
    color: white;
    width: 400px;
    text-align: center;
    margin: auto;
    font-family: Helvetica;
}
#rettangolino3 {
    width: 5px;
    height: 40px;
    background-color: #daa520;
    margin: 0px 0px 0px 20px;
}
#pittura {
    margin-left:700px;
    font-size: 24pt;
    color: #daa520;
    font-family: "Bebas Neue";
}
.pittura: hover{
    outline: 1px solid white;
}
.scuole {
    margin: 0px 0px 0px 460px;
    font-size: 18pt;
    width: 576px;
    color: white;
    text-align: center;
    font-family: "Bebas Neue";
}
#grafica {
    margin: 0px 0px 0px 550px;
    font-size: 24pt;
    width: 400px;
    color: #00b3ff;
    text-align: center;
    font-family: "Bebas Neue";
}
#indirizzo2 {
    width: 100%;
    height: 600px;
    background-color: #8a00b5;
    margin: auto;
    margin-top: 20px;
    opacity: 0.8;
}
#dipartimento2 {
    font-size: 24pt;
    color: white;
    width: 700px;
    text-align: center;
    margin-top: -40px;
    font-family: Helvetica;
}
#scenografia {
    margin: 30px 0px 0px 700px;
    font-size: 24pt;
    color: #00b378;
    font-family: "Bebas Neue";
}
#progettazione {
    margin: 30px 0px 0px 550px;
    font-size: 24pt;
    color: #eb0000;
    font-family: "Bebas Neue";
}
#tecnologie {
    margin: 30px 0px 0px 600px;
    font-size: 24pt;
    color: #fa8717;
    float: center;
    font-family: "Bebas Neue";
}
#indirizzo3 {
    width: 100%;
    height: 200px;
    background-color: #8a00b5;
    margin: auto;
    margin-top: 20px;
    opacity: 0.8;
}
#dipartimento3 {
    font-size: 24pt;
    color: white;
    width: 700px;
    text-align: center;
    margin-top: -40px;
    margin-left: 20px;
    font-family: Helvetica;
}
#comunicazione {
    margin: 30px 0px 0px 400px;
    font-size: 24pt;
    color: #befc12;
    font-family: "Bebas Neue";
}
#boxdurata {
    max-width: 850px;
    min-height: 900px;
    margin: 10px 0px 0px 0px;
    margin: auto;
    background-color: #d9466f;
    opacity:0.9;
    color: white;
    border-radius: 90px;
}
#rettangolino4 {
    width: 5px;
    height: 90px;
    background-color: #daa520;
    margin: 10px 0px 0px 80px;
}
#duratatitoli {
    font-family: Helvetica;
    font-size: 24pt;
    width: 400px;
    margin: -40px 0px 0px 100px;
}
#spiegazione {
    font-family: "Helvetica";
    margin: 50px 0px 0px 20px;
    max-width: 770px;
    text-align: giustify;
}
#boxborse {
    max-width: 850px;
    min-height: 350px;
    margin: 10px 0px 0px 0px;
    margin: auto;
    background-color: #fa6662;
    opacity:0.9;
    color: white;
    border-radius: 90px;
}
#map {
    width: 100%;
    height: 250px;
    margin-top: 20px;
}
#contact {
    width: 100%;
    height: 200px;
    background-color: #712cc5;
    text-align: center;
    margin-top: 50px;
}
#testofooter {
    text-align: center;
    color: white;
    margin-bottom: 0px;
    font-size: 9pt;
    margin-top: 20px;
}
#social {
    font-size: 24pt;
    color: white;
    margin: 10px 0px 0px 0px;
}
#cookie {
    position: fixed;
    bottom:0px;
    left:10px;
    font-size:30pt;
    color: #743202;
}
#cookieicon{
    border: 1px solid #743202;
    border-radius: 100px;
     cursor: pointer;
}
#cookietext {
  background-color: indigo;
  color: white;
  font-size:9pt;
  width:240px;
  border-radius: 5px;
  margin:-164px 0px 20px 60px;
   cursor: pointer;
   font-family:Helvetica;
}
.hidden{
    display:none;
}
@media only screen and (max-width:576px){
    #logo{
        margin-left:100px;
    }
}
@media only screen and (max-width: 600px) {
    #body{
        margin:50px auto 0px auto;
        background-size: 180%;
    }
}
@media only screen and (max-width: 576px){
    #icona1{
        margin: 20px 50px auto 250px;
    }
    #p3{
        margin: 30px auto auto 180px;
    }
    #icona2{
        margin: 315px 50px auto 50px;
    }
    #p4{
        margin: 30px 0px 0px -10px;
    }
    #icona3{
        margin: 580px 0px 0px -130px; 
    }
    #p5{
        margin: 30px 0px 0px -200px;
    }
}
@media only screen and (max-width:600px){
    #boxconvideo{
        height: 600px;
    }
    #video{
        margin:0px 0px 0px 0px;
        width:576px;
    }
}

@media only screen and (max-width: 600px) {
    #acme {
        margin: 50px auto 0px auto;
    }
}
@media only screen and (max-width:600px){
    #discovermore{
        margin:100px auto 0px 220px;
    }
}
@media only screen and (max-width: 576px){
    #box3 {
        height: 850px;
    }
}
@media only screen and (max-width:576px){
    #virgolette{
        margin:auto 0px auto 270px;
    }
}
@media only screen and (max-width: 576px){
    #rettangolo4{
        height:300px;
    }
    #palette{
        font-size:42pt;
        margin: 20px 50px 0px 100px;
    }
    #palette2{
        font-size:42pt;
        margin: -30px 20px 0px 0px;
    }
    #cerchio4{
       width: 130px; 
       height: 130px;
       margin: 20px 20px auto auto;
    }
}
@media only screen and (max-width:576px){
    #indirizzo1 {
        height: 350px;
    }
    #pittura {
        margin:30px 0px 0px 220px;
    }
    #grafica {
        margin:30px 0px 0px 70px;
    }
    .scuole {
        width: 500px;
        margin:0px 0px auto 30px;
    }
    #dipartimento2 {
        width:570px;
    }
    #scenografia {
        margin: 30px 0px 0px 220px;
    }
    #progettazione {
        width:300px;
        margin: 20px 0px 0px 130px; 
        text-align: center;
    }
}
@media only screen and (max-width:576px){
    #indirizzo2 {
        height:800px;
    }
    #tecnologie {
        margin: 30px 0px 0px 10px;
        text-align: center;
    }
}
@media only screen and (max-width:576px){
    #dipartimento2{
        width: 460px;
        margin-left:20px;
    }
    #indirizzo3 {
        height:300px;
    }
    #dipartimento3{
        width:500px;
    }
    #comunicazione {
        margin: 20px 0px 0px 10px;
        text-align: center;
    }
}
@media only screen and(max-width:576px) {
    #map{
        width:576px;
    }
    
}
