body {
  background-image: url("background-image.jpg");
  background-size: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 100%;
}
#intestazione {
  position: fixed;
  top: 0px;
  margin: 0px;
  left: 0px;
  height: 62px;
  background-color: black;
  background-size: 1200px;
  opacity: 0.9;
  width: 100%;
  color: white;
  border-bottom: 1px solid blue;
  margin-bottom: 20px;
  text-align: center;
  float: center;
}
#logo {
  font-family: "Water Brush";
  font-size: 200pt;
  text-align: center;
  attachment: fixed;
  color: white;
  float: center;
  height: 30px;
}
#discovermore {
  text-align: center;
  float: center;
  margin: 400px 0px 0px 700px;
  width: 150px;
  height: 40px;
  color: white;
  background-color: #00008b;
  opacity: 0.9;
  border: white;
  font-family: "Bebas Neue";
}
#discovermore:hover {
  outline: 2px solid blue;
}
.lingue-bandiere {
  float: left;
  width: 50px;
  height: 30px;
  margin-left: 10px;
  margin-right: 20px;
  margin-top: 15px;
  border-radius: 2px;
}
.lingue-bandiere:hover {
  outline: 2px solid white;
}
#acme {
  letter-spacing: 1px;
  font-family: "Bebas Neue";
  text-align: center;
  float: left;
  margin: 10px 0px 0px 450px;
}
#bottoneinalto {
  text-align: center;
  float: right;
  width: 100px;
  height: 30px;
  margin: 15px 60px 0px 0px;
  border: 2px solid blue;
  color: blue;
  font-family: "Bebas Neue";
  font-size: 14pt;
}
#bottontop {
  border: 2px solid white;
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 40px;
  border-radius: 90px;
  color: white;
  text-align: center;
  font-family: "Bebas Neue";
}
#boxopenday1 {
  max-width: 600px;
  height: 65px;
  margin: auto;
  background-color: #00008b;
  border-radius: 15px;
  margin-top: 30px;
}
.p1 {
  font-family: "Helvetica";
  font-size: 16pt;
  color: white;
  height: 10px;
  text-align: center;
}
.p2 {
  text-align: center;
  font-family: "Helvetica";
  color: white;
}
.boxopenday2 {
  max-width: 600px;
  height: 65px;
  margin: auto;
  background-color: #8a00b5;
  color: white;
  border-radius: 15px;
  margin-top: 10px;
}
#box3 {
  border: 3px solid magenta;
  max-width: 100%;
  height: 300px;
  margin: auto;
  margin-top: 20px;
  background-color: #00008b;
  opacity: 0.7;
}
#icona1 {
  font-size: 50pt;
  margin-left: 300px;
  margin-right: 400px;
  margin-top: 20px;
  color: white;
  float: left;
}
#p3 {
  width: 200px;
  height: 100px;
  margin: auto;
  margin: 50px 400px 0px 270px;
  text-align: center;
  font-family: "Bebas Neue";
  color: white;
  font-size: 14pt;
}
#icona2 {
  font-size: 50pt;
  margin-top: 18px;
  margin-right: 0px;
  margin-left: -120px;
  color: white;
}
#icona3 {
  font-size: 45pt;
  margin-top: 20px;
  margin-right: 300px;
  color: white;
  float: right;
}
#p4 {
  width: 200px;
  height: 100px;
  margin: auto;
  margin-right: 0px;
  margin-left: 580px;
  margin-top: -100px;
  text-align: center;
  font-family: "Bebas Neue";
  color: white;
  font-size: 14pt;
}
#p5 {
  width: 200px;
  height: 100px;
  margin: auto;
  margin-right: 220px;
  margin-top: -100px;
  text-align: center;
  font-family: "Bebas Neue";
  color: white;
  font-size: 14pt;
}
#boxconvideo {
  max-width: 850px;
  height: 292px;
  margin: auto;
  margin-top: 20px;
  border-radius: 10px;
  background-color: #00008b;
  color: white;
}
#video {
  width: 450px;
  height: 292px;
  float: right;
  margin: 0px 0px 0px 0px;
  border-radius: 10px;
}
#titolo1 {
  letter-spacing: 3px;
  font-family: Helvetica;
  margin: 0px 0px 0px 20px;
  font-size: 10pt;
}
#rettangolino {
  width: 5px;
  height: 40px;
  background-color: #daa520;
  margin: 80px 0px 0px 20px;
}
#titolo2 {
  font-family: Helvetica;
  font-size: 24pt;
  width: 400px;
  margin-left: 20px;
  margin-top: -30px;
}
#paragrafo8 {
  font-family: Helvetica;
  margin: 40px 0px 0px 0px;
  width: 450px;
}
#boxconcitazione {
  max-width: 850px;
  height: 292px;
  margin: 30px 0px 0px 270px;
  background-color: #00008b;
  color: white;
  opacity: 0.6;
  border-radius: 10px;
}
#virgolette {
  color: white;
  font-size: 24pt;
  float: center;
  margin: auto;
  margin-left: 400px;
  margin-top: 0px;
}
#slide1 {
  margin: 200px 0px 0px 350px;
}
#slide2 {
  margin: 200px 0px 0px 30px;
}
#slide3 {
  margin: 200px 0px 0px 30px;
}
#rettangolo4 {
  max-width: 850px;
  height: 292px;
  margin: 20px 0px 0px 270px;
  background-color: #00008b;
  color: white;
  border-radius: 10px;
}
#palette {
  color: white;
  font-size: 100pt;
  float: right;
  margin-top: 40px;
  margin-right: 80px;
}
#palette2 {
  color: white;
  font-size: 70pt;
  float: right;
  margin-top: -50px;
  margin-right: 15px;
}
#cerchio4 {
  width: 250px;
  height: 250px;
  border-radius: 100%;
  margin: 10px 80px 0px 0px;
  float: right;
  border: 3px solid white;
}
#indirizzo1 {
  width: 100%;
  height: 200px;
  background-color: #8a00b5;
  margin: auto;
  margin-top: 20px;
  opacity: 0.8;
  color: white;
}
#dipartimento {
  font-size: 24pt;
  text-color: white;
  width: 400px;
  margin-left: 20px;
  font-family: Helvetica;
}
#rettangolino3 {
  width: 5px;
  height: 40px;
  background-color: #daa520;
  margin: 0px 0px 0px 20px;
}
#pittura {
  margin: 50px;
  font-size: 18pt;
}
#cookie {
  float: left;
  border: 2px solid white;
  position: fixed;
  left: 10px;
  bottom: 20px;
  width: 40px;
  height: 40px;
  border-radius: 90px;
  color: white;
  text-align: center;
  font-family: "Bebas Neue";
}
#iconacookie {
  font-size: 37px;
  margin-left: -1px;
  margin-bottom: 25px;
}
#pc {
  width: 150px;
  border: 1px solid white;
  border-radius: 90px;
}
