body {
  background-image: url("https://www.medusaexperience.com/wp-content/uploads/2019/11/Technology_1.jpg");
  background-size: 1200px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 100%;
}
#bandiere {
  float: left;
  width: 50px;
  height: 30px;
  margin-left: 0px;
  margin-right: 20px;
  margin-top: 10px;
  border-radius: 2px;
}

#intestazione {
  position: fixed;
  top: 0px;
  margin: 0px;
  height: 62px;
  background-color: black;
  background-size:1200px;
  opacity: 0.9;
  width: 100%;
  color: white;
  border-bottom: 1px solid blue;
  margin-bottom: 20px;
  text-align: center;
  float: center;
}
#bottoneinalto {
  float: right;
  width: 100px;
  height: 30px;
  margin: 10px 60px 0px 0px;
  border: 1px solid blue;
  background-color: black;
  color: blue;
  font-family: Futura;
  font-size: 14pt;
}
#logo {
  font-family: High Spirited;
  font-size: 200pt;
  text-align: center;
  attachment: fixed;
  color: white;
  float: center;
  height: 30px;
}
#discovermore {
  text-align: center;
  float: center;
  margin: 40px 0px 0px 650px;
  width: 150px;
  height: 40px;
  color: white;
  background-color: blue;
  opacity: 0.9;
  border: white;
  font-family: Futura;
}
#acme {
  letter-spacing: 1px;
  font-family: "Futura";
  text-align: center;
  float: left;
  margin: 10px 0px 0px 370px;
}
#openday1 {
  max-width: 600px;
  height: 65px;
  margin: auto;
  background-color: #00008b;
  border-radius: 15px;
}
#icona1 {
  font-size: 45pt;
  margin-left: 20px;
  margin-top: 20px;
  color: white;
}
#icona2 {
  font-size: 45pt;
  margin-top: 20px;
  margin-right: 20px;
  color: white;
}
#icona3 {
  font-size: 45pt;
  margin-top: 20px;
  margin-left: 25px;
  color: white;
}
#paragrafo1 {
  font-family: "Helvetica";
  font-size: 16pt;
  color: white;
  height: 10px;
  text-align: center;
}
#paragrafo2 {
  text-align: center;
  font-family: "Helvetica";
  color: white;
}
#openday2 {
  max-width: 600px;
  height: 65px;
  margin: auto;
  background-color: #daa520;
  color: white;
  border-radius: 15px;
}
#rettangolo1 {
  border: 3px solid #00008b;
  max-width: 850px;
  height: 300px;
  margin: auto;
  background-color: white;
  color: #00008b;
}
#cerchio1 {
  width: 100px;
  height: 100px;
  border: 3px solid #00008b;
  border-radius: 100%;
  margin: 40px 50px 30px 90px;
  background-color: #00008b;
}
#paragrafo4 {
  width: 200px;
  height: 100px;
  float: left;
  margin: auto;
  margin: 0px 0px 0px 50px;
  text-align: center;
  font-family: Helvetica;
}
#cerchio2 {
  width: 100px;
  height: 100px;
  border: 1px solid #00008b;
  border-radius: 100%;
  margin: -130px 0px 0px 130px;
  float: left;
  background-color: #00008b;
}
#paragrafo5 {
  width: 200px;
  height: 100px;
  float: left;
  text-align: center;
  margin: 0px 0px 90px 90px;
  font-family: Helvetica;
}
#cerchio3 {
  width: 100px;
  height: 100px;
  border: 1px solid #00008b;
  border-radius: 100%;
  margin: -130px 0px 0px 140px;
  float: left;
  background-color: #00008b;
}
#paragrafo6 {
  width: 200px;
  height: 100px;
  float: left;
  margin: 0px 0px 90px 100px;
  text-align: center;
  font-family: Helvetica;
}
#rettangolo2 {
  max-width: 850px;
  height: 292px;
  margin: auto;
  background-color: #00008b;
  color: white;
}
#titolo1 {
  letter-spacing: 3px;
  font-family: Helvetica;
  margin: 0px 0px 0px 20px;
  font-size: 10pt;
}
#rettangolino {
  width: 5px;
  height: 30px;
  background-color: #daa520;
  margin: 90px 0px 0px 20px;
}
#titolo2 {
  font-family: Helvetica;
  font-size: 24pt;
  width: 400px;
  margin: 0px 0px 0px 20px;
}
#paragrafo8 {
  font-family: Helvetica;
  margin: 40px 0px 0px 0px;
  width: 450px;
}
#bottontop {
  border: 2px solid white;
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 40px;
  border-radius: 90px;
  color: white;
  text-align: center;
  font-family: Helvetica;
}
#video {
  width: 450px;
  height: 290px;
  float: right;
  margin: -11px 0px 0px 0px;
}
